.main-grid{
    display: grid;

    min-height: 100vh;
    max-height: 100vh;

    background-color: #e6e6e6;
    
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-areas:
        "hdr"
        "mid"
        "btm"
        ;
}

.header-grid{
    grid-area: hdr;
    
    min-height: 10vh;
    max-height: 10vh;

    min-width: 100vw;
    max-width: 100vw;

    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "... logo smplnk";
}

.logo{
    grid-area: logo;

    max-height: 10vh;

    display: grid;
    grid-template-columns:1fr ;
    grid-template-rows: 5vh 5vh;
    grid-template-areas: 
    "bkstlo"
    "txtlo";
}

.bokstav-logo{
    grid-area: bkstlo;

    text-align: center;

    color: red;

    font-size: 200%;
}

.tekst-logo{
    grid-area: txtlo;

    text-align: center;
    text-decoration: underline overline;
    
    font-weight: bold;
    font-size: 125%;
}

.simplest-link{
    grid-area: smplnk;
}

.mid{
    grid-area: mid;

    max-height: 80vh;
    min-height:  80vh;
}


#author {
    display: inline;
    float:left;
    color: red;
}

#date {
    float:left;
}

.clear {
    clear: both;
}

.bottom{
    grid-area: btm;

    max-height: 10vh;
    min-height: 10vh;
