.main-grid{
    display: grid;

    min-height: 100vh;
    max-height: 100vh;
    
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 8fr, 1fr;
    grid-template-areas:
        "headr"
        "mid"
        "btm"
        ;
}

.header-grid{
    grid-area: "headr";

    max-height: 10vh;

    display: grid;
    grid-template-columns: 1fr, 3fr, 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "logo ... smplnk";
}

.logo{
    grid-area: "logo";

    max-height: 1vh;

    display: grid;
    grid-template-columns:1fr ;
    grid-template-rows: 5vh, 5vh;
    grid-template-areas: 
    "bkstlo"
    "txtlo";
}

.bokstav-logo{
    grid-area: "bkstlo";

    max-height: 5vh;

    text-align: center;

    color: red;

    font-size: large;
}

.tekst-logo{
    grid-area: "txtlo";

    max-height: 5vh;

    text-align: center;

}

.simplest-link{
    grid-area: "smplnk";
}

.mid{
    grid-area: "mid";

    max-height: 80vh;
    min-height:  80vh;
}


#author {
    display: inline;
    float:left;

    color: red;
}

#date {
    display: inline;
    float:left;
}

.bottom{
    grid-area: "btm";

    max-height: 10vh;
    min-height: 10vh;
}