
*{
    font-family: "Times New Roman", Times, serif;
}

.main-grid{
    display: grid;

    min-height: 100vh;
    max-height: 100vh;
    
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-areas:
        "hdr"
        "mid"
        "btm"
        ;
}

.header-grid{
    grid-area: hdr;
    
    height: 100px;
    width: 100%;

    border-bottom: solid 1px red;

    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "... logo smplnk";
}

#MakkraBlaka {
    position: absolute;
    width: 100px;
    left: 13%;
}

.tekst-logo{
    grid-area: txtlo;

    text-align: center;
    text-decoration: underline overline;
    text-decoration-color: red;
    text-decoration-thickness: 1%;
    
    font-weight: bold;
    font-size: 125%;
}

.simplest-link{
    grid-area: smplnk;

    margin-top: 5.5vh;

    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-thickness: 1%;
}

.simplest-link:visited{
    color: black;
}

.simplest-link:hover{
    color: red;
}

.mid{
    grid-area: mid;

    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;

    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 5%;

    border-right: solid 1px red;
    border-left: solid 1px red;

}

#LebronImg {
    width: 70%;
}

#author {
    display: inline;
    float:left;
    color: red;
}

#date {
    float:left;
}

.clear {
    clear: both;
}

.bottom{
    grid-area: btm;

    max-height: 10vh;
    min-height: 10vh;

    margin-left: 10%;
    margin-right: 10%;

    border-top: solid 1px red;

}